html, body {
    margin: 0;
    height: 100%;
}

.BraveRocket {
    margin: auto 0;
    text-align: center;
}
.BraveRocketCanvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 400px;
    border: 1px solid black;
    image-rendering: pixelated;
    -moz-image-rendering: pixelated;
    /* this looks absolutely horrendous so no. */
    /* font-smooth: never; */
    /* -webkit-font-smoothing: none; */

    touch-action: none;
}

/* we dont need to keep doing this anymore :)  */
/*@font-face {
    font-family: "font_delfino";
    src: url("src/assets/Delfino.ttf");
}*/